.productList {
    flex:4;
}

.productList {
    flex: 4;
    margin-top: 20px;
}

.productListproduct {
    display: flex;
    align-items: center;
}

.productListImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.productListEdit {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productDel {
    color: red;
    cursor: pointer;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListTitle{
    text-align: center;
    color: rgb(136, 136, 136);
    margin-bottom: 5px;
}