* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

/* .app{
    width: 100%;
} */
.container {
  display: flex;
  /* overflow-x: hidden; */
}

.link{
  text-decoration: none;
  color: inherit;
}
